/* Resetear márgenes y padding */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#svg-bg{
  width: 100lvw;
  height: 100lvh;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Ajustes personalizados */
.icon-app i {
  margin-right: 8px;
}

/* Centrar los íconos cuando el sidebar es pequeño */
.icon-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.page-route {
  display: none;
  padding: 20px;
}

.active {
  display: block;
  animation: slideIn 0.5s;
}

@keyframes slideIn {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0);
  }
}

/* Para bordes redondeados en el scroll */
.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  border-radius: 10px;
}
