* {
    padding: 0;
    margin: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: #c4c4c4;
    display: flex;
}

aside {
    width: 150px;
    height: 100%;
    background-color: #296790;
}