/* Resetear márgenes y padding */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Ajustes personalizados */
.icon-app i {
    margin-right: 8px;
}

/* Centrar los íconos cuando el sidebar es pequeño */
.icon-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.page-route {
    display: none;
    padding: 20px;
}

.active {
    display: block;
    animation: slideIn 0.5s;
}

@keyframes slideIn {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0);
    }
}